<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>{{ page.title }} | The People's University Project</title>
</head>

<body>

    <!-- =========== NAV ===========-->
    <div class="container-fluid pt-3 pb-3 fixed-top" style="background-color:#9090f3;">
        <div class="text-center">
            <div class="h1" style="color:black;">The People's University Project</div>
            <div class="h4 mt-2">
                <a href="/website/index" class="btn btn-primary ml-1" role="button"><i class="bi bi-house-heart-fill"></i></a>
                <a href="/website/about" class="btn btn-primary ml-1" role="button">ABOUT</a>
                <a href="/website/journal" class="btn btn-primary ml-1" role="button">JOURNAL</a>
                <a href="/website/projects" class="btn btn-primary ml-1" role="button">PROJECTS</a>
                <a href="/website/studies" class="btn btn-primary ml-1" role="button">STUDIES</a>
            </div>
        </div>
    </div>


    
    <!-- =========== PAGE CONTENT =========== -->
     <div class="container mt-3">
        {{ content }}
    </div>

<script>
function adjustNavPadding() {
    const nav = document.querySelector('.fixed-top');
    const navHeight = nav.offsetHeight;
    document.body.style.paddingTop = navHeight + 'px';
}
window.addEventListener('load', adjustNavPadding);
window.addEventListener('resize', adjustNavPadding);
</script>

</body>
</html>